@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Josefin+Sans&family=Snippet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Josefin+Sans&display=swap');

body{
  background: rgb(104,104,119);
background: linear-gradient(90deg, rgba(104,104,119,1) 0%, rgba(228,213,215,1) 51%, rgba(215,201,205,1) 83%);
    width: fit-content;
    height: 1000px
  
  ;
    
}
section
{
     width: 100%;
     min-height: 1000px;
     
}

   

 #card
{
            width: 200px;
            height: 200px;
            background-color: pink;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease-in-out;
            margin-top: 100px;
            margin-left: 150px;
            border: solid black;
            background: rgb(33,30,220);
background: linear-gradient(90deg, rgba(33,30,220,1) 0%, rgba(129,10,10,1) 100%);
        }
        
        #card:hover {
            transform: scale(1.2);
        }
        
       

#card1
{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 100px;
    margin-left: 400px;
    margin-top: -200px;
    margin-bottom: 500px;
    border: solid black;
    background: linear-gradient(90deg, rgba(33,30,220,1) 0%, rgba(129,10,10,1) 100%);
    
}

#card1:hover {
    transform: scale(1.2);
}
#card2
{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-left: 650px;
    margin-top: -700px;
    margin-bottom: 500px;
    margin-right: 200px;
    border: solid black;
    background: linear-gradient(90deg, rgba(33,30,220,1) 0%, rgba(129,10,10,1) 100%);
}
#card2:hover
{
 transform: scale(1.2);
}
#card3
{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-left: 900px;
    margin-top: -700px;
    margin-bottom: 100px;
    margin-right: 100px;
    border: solid black;
    background: linear-gradient(90deg, rgba(33,30,220,1) 0%, rgba(129,10,10,1) 100%);
}
    #card3:hover
{ 
    transform: scale(1.2);
}



#card4
{
    width: 200px;
    height: 200px;
    background-color: pink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-left: 1150px;
    margin-top: -300px;
    margin-bottom: 100px;
    margin-right: -150px;
    border: solid black;
    background: linear-gradient(90deg, rgba(33,30,220,1) 0%, rgba(129,10,10,1) 100%);
}

#card4:hover
{
    transform: scale(1.2);
}
h4
{
    font-size: x-large;
    margin-top: -1150px;
    margin-left: 50px;
    text-align: center;
    color:white ;
    font-family:  'Snippet' , sans-serif ;
    background-color: black;
    border: solid black;
float: left;
margin-left: -100px;
}


.lama
{
    color: white;
    
   text-align: center;;
}

.glow {
  font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 25%;
    color: black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
 
#Aranjare
{
    
  color: black;
  text-align: left;
  font-size: 30px;
  font-family:  'Snippet' , sans-serif ;
  padding-right: 5px;
}
footer {
  text-align: left;
  padding: 100px;
  margin-top: 2000px;
  margin-left: -10px;
  background-color: black;
  color: white;}
 
  #par
  {
    text-align: left;
    color: white;
    font-family:  'Snippet' , sans-serif ;

  }
  .par2
  {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  }
  .buton{
    color: white;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid white;
    margin-left: -10px;
  }
  #imagine
  {
  width: 50px;
  height: 35px;
  margin-left: -8px;
  
  }
  #imagine2
  {
    background-color: black;
    width: 30px;
  height: 30px;
   margin-top: 5px;
  
  }
  #imagine3
  {
    width: 30px;
    height: 30px;
  }
  #imagine4
  {
    width: 30px;
    height: 30px;
  }
  #imagine5
  {
width: 30px;
height: 30px;
  }
  #imagine6
  {
    width: 30px;
height: 30px;
  }
  #imagine71
  {
    width: 30px;
height: 30px;}
#imagine81
  {
    width: 30px;
height: 30px;}

  #paragr
  {
    font-family:  'Snippet' , sans-serif ;
    
  }
  #nav-bar
  {
    background-color: black;
    text-decoration: none;
    
    
 
  }
  .navigation1
  {
    border-top: 20px;
    font-size: x-large;
   background-color: black;
margin-left: 375px;
border: #fff;
color : white
  }
  .navigation2
  {
    background-color: black;
font-size: x-large;
margin-left: 25px;
border: #fff;
color: white;
  }
  .navigation3
  {
    background-color: black;
    font-size: x-large;
margin-left: 25px;
border: #fff;
color : white

  }
  a{
    font-family:  'Snippet' , sans-serif ;
    text-decoration: none;
  }
  #proiecte
  {
       font-size: larger;
  }
  .navigation4
  {
    background-color: black;
    font-size: x-large;
margin-left: 25px;
border: #fff;
color : white;
  }
  #imagine7
  {
    width: 400px;
    height: 600px;
    border: solid black;
  }
  .text-typing p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(22,end) forwards,
     blink 1s infinite;
  }
  #buttonCV
  {
    margin-left: 410px;
    margin-bottom: 10px;
    background-color: black;
    color: aqua;

  }

html { scroll-behavior: smooth;}
.container {
  display: flex;
  align-items: center;
  padding: 20px;
}

#downloadButton 
{
  margin-left: 5px;
  color: purple;
  font-size: 20px
}